body {
  background-color: #141414;
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.heading {
  max-width: 450px;
  margin-bottom: 60px;
  font-family: 'DM Serif Display', sans-serif;
  font-weight: 400;
}

.text-block {
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
}

.navbar {
  background-color: #000;
}

.brand {
  padding-top: 16px;
  padding-bottom: 16px;
}

.nav-link {
  padding-right: 20px;
  padding-left: 20px;
  color: #fff;
}

.nav-link.button {
  margin-top: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 6px;
  background-color: hsla(0, 0%, 100%, 0.2);
}

.secondary-heading {
  max-width: 450px;
  margin-top: 0px;
  margin-bottom: 15px;
  font-family: 'DM Serif Display', sans-serif;
  font-size: 28px;
  font-weight: 400;
}

.paragraph {
  max-width: 450px;
  color: hsla(0, 0%, 100%, 0.6);
}

.collection-item {
  display: -ms-grid;
  display: grid;
  margin-bottom: 30px;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.8fr 1fr;
  grid-template-columns: 0.8fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.project-details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.button-text {
  margin-top: auto;
}

.project-name-preview {
  font-family: 'DM Serif Display', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.project-type-preview {
  color: hsla(0, 0%, 100%, 0.63);
}

.project-paragraph {
  color: hsla(0, 0%, 100%, 0.63);
}

.image {
  padding-top: 0px;
}